<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Details</title>
</head>
<body>
<h1 th:text="${movie.title}"></h1>
<img th:src="${movie.imageURL}"/>
<ul>
    <li th:text="${movie.releaseDate}"></li>
    <li th:text="${movie.ageRating}"></li>
    <li th:text="${movie.genres}"></li>
    <li th:text="${movie.runtime}"></li>
</ul>
<hr>
<p th:text="${reviews}"></p>
    <ul>
        <li th:each="review : ${reviews}" th:text=${review.rating}></li>
    </ul>
</body>
</html>